.buttonContainer{
  display: flex;
justify-content: center;
flex-wrap: wrap;
background-color: white;
}
.button{
  width: 75px;
  height: 45px;
  margin: 3px;
font-weight: bold;
}
.MainContainer{
  border: 1px solid rgba(90,90,90);
background-color: white;
  width: 280px;
  border-radius: 5px;

}
.display{

width: 215px;
margin: 15px;
font-size: 30px;
    color: white;
}
